<a href="https://colab.research.google.com/github/sanha7/honey_ranian/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0%EC%8B%A4%EA%B8%B0%EC%A4%80%EB%B9%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('mtcars.csv')
print(data.head())

          Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs      am  \
0          Mazda RX4  21.0  6.0  160.0  110  3.90  2.620  16.46   0  manual
1      Mazda RX4 Wag  21.0  6.0  160.0  110  3.90  2.875  17.02   0  manual
2         Datsun 710  22.8  4.0  108.0   93  3.85  2.320  18.61   1  manual
3     Hornet 4 Drive  21.4  6.0  258.0  110  3.08  3.215   0.10   1    auto
4  Hornet Sportabout  18.7  8.0  360.0  175  3.15  3.440  17.02   0    auto

  gear  carb
0    4     4
1    4     4
2    4     1
3    3     1
4    3     2

In [ ]:
print(data.shape)

(32, 12)

In [ ]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(data.columns)

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [ ]:
print(data.describe())

             mpg        cyl        disp          hp       drat         wt  \
count  32.000000  30.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   7.600000  230.721875  146.687500   3.596563   3.217250
std     6.026948   8.194195  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000  50.000000  472.000000  335.000000   4.930000   5.424000

             qsec         vs     carb
count   31.000000  32.000000  32.0000
mean    19.866774   0.437500   2.8125
std     15.310469   0.504016   1.6152
min      0.100000   0.000000   1.0000
25%     16.785000   0.000000   2.0000
50%     17.600000   0.000000   2.0000
75%     18.755000   1.000000   4.0000
max    100.000000   1.000000   8.0000

In [ ]:
print(data['hp'].describe())

count     32.000000
mean     146.687500
std       68.562868
min       52.000000
25%       96.500000
50%      123.000000
75%      180.000000
max      335.000000
Name: hp, dtype: float64

In [ ]:
print(data['am'].unique())

['manual' 'auto']

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB
None

In [ ]:
#독립변수/종속변수 분리하기
X =data.drop(columns='mpg') #독립변수-mpg를제외한 요소들
Y =data['mpg'] #mpg를 종속변수로

In [ ]:
print(X.head())

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2

In [ ]:
print(Y.head())

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

In [ ]:
X= X.iloc[:, 1:] #불필요한 0번째열 제거해서 새 변수 생성

In [ ]:
print(X.head())

   cyl   disp   hp  drat     wt   qsec  vs      am gear  carb
0  6.0  160.0  110  3.90  2.620  16.46   0  manual    4     4
1  6.0  160.0  110  3.90  2.875  17.02   0  manual    4     4
2  4.0  108.0   93  3.85  2.320  18.61   1  manual    4     1
3  6.0  258.0  110  3.08  3.215   0.10   1    auto    3     1
4  8.0  360.0  175  3.15  3.440  17.02   0    auto    3     2

In [ ]:
X.isnull().head(3)

     cyl   disp     hp   drat     wt   qsec     vs     am   gear   carb
0  False  False  False  False  False  False  False  False  False  False
1  False  False  False  False  False  False  False  False  False  False
2  False  False  False  False  False  False  False  False  False  False

In [ ]:
#전체 결측치여부값 모두 더해 결측치 개수 세기
print(X.isnull().sum())

cyl     2
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

In [ ]:
#평균 구해서 변수에 넣기
X_cyl_mean = X['cyl'].mean()

In [ ]:
print(X_cyl_mean)

7.6

In [ ]:
#cyl열의 결측치를 X_cyl_mean 값으로 채우고, 다시 cyl열에 저장
X['cyl'] = X['cyl'].fillna(X_cyl_mean)

In [ ]:
print(X.isnull().sum())

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

In [ ]:
X_qsec_median = X['qsec'].median()

In [ ]:
print(X_qsec_median)

In [ ]:
X['qsec'] = X['qsec'].fillna(X_qsec_median)

In [ ]:
#중위값으로 잘 대체되었는지 확인하려면
#qsec열의결측치 개수 확인
print(X['qsec'].isnull().sum())

In [ ]:
#qsec 열의 결측치를 일괄 0으로 바꾸기
X['qsec'].fillna(0)

In [ ]:
#gear 열의 구성값 보이기-특수문자 확인 가능
print(X['gear'].unique())

In [ ]:
#특수문자붙은걸 정상적인 값으로 되돌려주기
print(X['gear'].replace('*3', '3').replace('*5','5'))

In [ ]:
#이렇게 변경된 값을 gear열에 다시 저장
X['gear'] = X['gear'].replace('*3','3').replace('*5','5')

In [ ]:
print(X['gear'].unique())

In [ ]:
#사분범위 활용해 이상치 제거하기 
#25%, 75% 열을 활용하기 위해 변수 생성하기
X_describe = X.describe()
print(X_describe)

In [ ]:
#X_describe변수에서 3사분위, 1사분위에 해당하는 열을 '값으로' 추출
print(X_describe.loc['75%'], X_describe.loc['25%'])

In [ ]:
#3사분-1사분해야 사분범위니까 변수 생성해서 사분범위 넣기
X_iqr = X_describe.loc['75%'] - X_describe.loc['25%']
print(X_iqr) #사분범위 변수 생성

In [ ]:
#이상치 기준=1사분위-1.5*IQR, 3사분위+1.5*IQR
print(X_describe.loc['75%']+(1.5*X_iqr)) 
#지금 나온애들이 최대 경계값임.(cyl은 14넘으면 이상치인것임)

In [ ]:
#아까 만든  통계량 변수에서 최대값을 보고, 이상치 여부를 판단해봄
print(X_describe.loc['max'])

In [ ]:
#cyl열 값은 14넘어서면 이상치이므로, 초과하는 값 추출해보기
print(X.loc[X['cyl']>14])
#결과, 14행에 50인거 하나 나옴,

In [ ]:
#나온애를(이상치를) 14로 변경해주기-14행 cyl열이었음
X.loc[14,'cyl']=14

In [ ]:
X.loc[14,'cyl']

In [ ]:
print(X.loc[X['hp']>305.25])

In [ ]:
X.loc[30,'hp']=305.25

In [ ]:
X.loc[30,'hp']

In [ ]:
#이번엔 최소경계값(1사분-1.5*IQR)구해보기
print(X_describe.loc['25%']-(X_iqr*1.5))
#이것도 안되면 이상치인거임

In [ ]:
#최솟값 확인하기
print(X_describe.loc['min'])

In [ ]:
#data 와 column을 전달할때 이상값의 정보를 출력해주는 outlier 함수 작성
def outlier(data,column):
  mean = data[column].mean()
  std = data[column].std()
  lowest = mean -(std*1.5)
  highest = mean + (std*1.5)
  print('최소경계값 :', lowest, '최대경계값 : ', highest)
  outlier_index = data[column][(data[column]<lowest)  #이상치의 위치확인
                               |(data[column]>highest)].index
  return outlier_index

In [ ]:
print(outlier(X, 'qsec'))
#24 인덱스(행)에 이상치 있음

In [ ]:
#실제로 확인
print(X.loc[24,'qsec'])

NameError: ignored

In [ ]:
#이상값을 평균+(표준편차*1.5)로 대치
X.loc[24,'qsec'] =42.396
print(X.loc[24,'qsec'])

In [ ]:
print(outlier(X,'carb'))

In [ ]:
print(X.loc[[29,30],'carb'])

In [ ]:
#저 이상값 두개를 최대경계값인 5.235로 대치
X.loc[29,'carb']= 5.235
X.loc[30,'carb']= 5.235
print(X.loc[[29,30],'carb'])

In [ ]:
#데이터스케일링 (Standard Scaling, MinMax Scaling, Robust Scaling)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
#변환할 qsec 열만 추출해서 변수에 저장
temp = X[['qsec']]

In [ ]:
#스케일링 객체 생성-StandardScaler 함수로
scaler = StandardScaler()
print(scaler.fit_transform(temp)) #fit_transform 명령으로 temp 변수의  크기변환요청

In [ ]:
#표준크기변환 수행한 결과를 변수에 저장
#이 결과는 데이터프레임 타입이 아닌데(array), 쉽게 데이터 처리를 할 수 있는 데이터프레임으로 변경.
qsec_s_scaler = pd.DataFrame(scaler.fit_transform(temp))

In [ ]:
print(qsec_s_scaler.describe()) #mean은 0에 근사한값, std는 1에 근사한 값으로-정규분포의 형태

In [ ]:
#Min-Max Scaler
from sklearn.preprocessing import MinMaxScaler

In [ ]:
temp = X[['qsec']]

In [ ]:
scaler = MinMaxScaler() #스케일링 객체생성
qsec_m_scaler = pd.DataFrame(scaler.fit_transform(temp)) #크기변환요청 후 변수에 넣고
print(qsec_m_scaler)

In [ ]:
print(qsec_m_scaler.describe())

In [ ]:
#RobustScaling
from sklearn.preprocessing import RobustScaler

In [ ]:
temp = X[['qsec']]

In [ ]:
scaler = RobustScaler()
qsec_r_scaler = pd.DataFrame(scaler.fit_transform(temp))
print(qsec_r_scaler)

In [ ]:
print(qsec_r_scaler.describe()) #중앙값 0, 사분위수(75%-25%)는1의 범위로  변환됨

In [ ]:
#데이터 타입 변경하기-범주형(object/string)과 연속형(int64/float64)가
#적합하게 설정되었는지, 아니라면 astype()으로  타입을재설정

In [ ]:
#먼저 변수의 요약정보 확인
print(X.info())

In [ ]:
#gear 열에서 숫자를 나타내야 하는데 object로 돼있음.  int64로 변경하고 다시 저장
X['gear']= X['gear'].astype('int64')
#바꼈는지 확인
X['gear'].dtype

In [ ]:
#인코딩 - 원핫인코딩/라벨인코딩

In [ ]:
print(X.head())

In [ ]:
print(X['am'].unique())

In [ ]:
#one hot encoding 'am'열에 수행해보기
print(pd.get_dummies(X['am']))

In [ ]:
#좀더 경제적으로, 하나의 열에 나열해 가독성을높이기
print(pd.get_dummies(X['am'], drop_first=True))

In [ ]:
#라벨인코딩
print(X['am'].head())

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
encoder = LabelEncoder()

In [ ]:
print(encoder.fit_transform(X['am'])) #manual 은 1, auto는 0으로 변환됨

In [ ]:
#세가지종류의범주형 변수 임의생성->라벨 인코딩 연습
fruit = ['apple','banana','grape']

In [ ]:
encoder = LabelEncoder()

In [ ]:
#라벨인코더 수행 뒤 새 변수에 저장
fruit_new = encoder.fit_transform(fruit)

In [ ]:
#결과비교
print(fruit, fruit_new)

In [ ]:
#그밖에도, replace함수로 수동 인코딩 가능

In [ ]:
#am_new 라는 열 새로 생성하고, manual은 0, auto는 1 로 변경하기
X['am_new'] = X['am'].replace('manual',0).replace('auto',1)

In [ ]:
print(X.head())

In [ ]:
#이제 am열은 불필요하니 삭제-traceback은 두번눌러서 이미 없다고 뜬거임
X = X.drop(columns=['am'])

In [ ]:
print(X.head())

In [ ]:
#파생변수 생성하기
#wt 열이 3.3보다 작으면 0, 크거나 같으면 1로 파생변수 생성

In [ ]:
print(X['wt']<3.3)

In [ ]:
#condition 변수에 3.3보다 작은지의 여부를 담고, 조검 만족하면 열에 0으로 저장/아니면 1
condition = X['wt']<3.3 
X.loc[condition, 'wt_class']=0
X.loc[~condition, 'wt_class']=1

In [ ]:
print(X[['wt','wt_class']])

In [ ]:
#이제 wt는 삭제
X = X.drop(columns=['wt'])

In [ ]:
print(X.head())

In [ ]:
#이번엔 qsec전체열에 4배곱해서 새 열 생성
X['qsec_4'] = X['qsec']*4

In [ ]:
print(X[['qsec','qsec_4']])

In [ ]:
X =X.drop(columns='qsec')

In [ ]:
print(X.head())

In [ ]:
#학습데이터/테스트데이터 분리하기
from sklearn.model_selection import train_test_split

In [ ]:
#X,Y 변수로 학습데이터는 70%, 테스트데이터는 30%로 분리하기
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.3, 
                                                    random_state=10)

In [ ]:
#독립변수인 학습데이터의 상위 5개 행 확인
print(x_train.head())

In [ ]:
#공부하고 평가하는, 모델링.

In [ ]:
#선형회귀분석 : linear_model모듈에서 LinearRegression 모델 소환
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
#생성한 모델에 x_train, y_train을 전달해서 선형회귀 방식으로 공부시킴
model.fit(x_train,y_train)

In [ ]:
#학습 완료된 모델에 x_train 전달해 y_train 값 예측
y_train_predicted = model.predict(x_train)

In [ ]:
y_test_predicted = model.predict(x_test)

In [ ]:
#선형회귀 모델로 도출된 y 절편 값 구하기
print(model.intercept_)

In [ ]:
#선형회귀 모델에 포함된 독립변수들의 각 기울기 값 구하기
print(model.coef_) #회귀계수 값

In [ ]:
#선형회귀 같은 예측모델은 보통 MAE, MSE, RMSE, 결정계수R제곱으로 평가 수행
#MAE = 실제값과 예측값 차이를 제곱해서 평균 계산한 값
#MSE = 실제값과 예측값 차이를 제곱해 평균 계산한 값
#RMSE = MSE의 제곱근
#R제곱 = 결정계수는 실제값 분산과 예측값 분산의 비율, 1에 가까울수록 예측 정확도 높음

In [ ]:
#선형회귀 분석 모델에서 학습데이터에대한 결정계수 구하기
print(model.score(x_train,y_train))

In [ ]:
#선형회귀 분석 모델에서 테스트 데이터에 대한 결정계수 구하기
print(model.score(x_test, y_test))

In [ ]:
#결정계수 계산하는 r2 score 함수 가져오기
from sklearn.metrics import r2_score

#MAE 계산하는 mean_absolute_error함수
from sklearn.metrics import mean_absolute_error

#MSE 계산하는 mean_squared_error함수
from sklearn.metrics import mean_squared_error

#제곱근 계산을 위해 numpy 라이브러리 가져오기
import numpy as np

In [ ]:
#학습데이터의 결정계수 구하기
print(r2_score(y_train, y_train_predicted))

In [ ]:
#테스트 데이터의 결정계수 구하기
print(r2_score(y_test,y_test_predicted))

In [ ]:
#테스트데이터의 MSE 지표 구하기
print(mean_squared_error(y_test, y_test_predicted))

In [ ]:
#테스트 데이터의 RMSE 지표 구하기
print(np.sqrt(mean_squared_error(y_test, y_test_predicted)))

In [ ]:
#테스트 데이터의 MAE 지표 구하기
print(mean_absolute_error(y_test,y_test_predicted))

In [ ]:
#이번에는 랜덤포레스트 회귀(예측)

In [ ]:
#랜덤포레스트 회귀 : 무작위 다수 트리 만들어 투표로 값 결정
#ensemble모듈에서 RandomForestRegressor모델 가져오기
from sklearn.ensemble import RandomForestRegressor

In [ ]:
#랜덤 포레스트 회귀 분석 수행할 모델 생성
model = RandomForestRegressor(random_state=10)

In [ ]:
#생성한 모델에 x_train, y_train을 전달해서 랜덤 포레스트 회귀 분석 수행
model.fit(x_train,y_train)

In [ ]:
#학습이 완료된 모델에 x_train 전달해 y_train 값 예측
y_train_predicted = model.predict(x_train)

In [ ]:
#학습 완료된 모델에 x_test전달해 y_test값 예측
y_test_predicted = model.predict(x_test)

In [ ]:
#이제 metrics 모듈로 결정계수, MSE, MAE지표 계산하기
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [ ]:
#학습데이터의 결정계수 구하기
print(r2_score(y_train, y_train_predicted))

In [ ]:
#테스트 데이터의결정계수 구하기
print(r2_score(y_test, y_test_predicted))

In [ ]:
#테스트 데이터의 MSE 지표 구하기
print(mean_squared_error(y_test, y_test_predicted))

In [ ]:
#테스트 데이터의 MAE 지표 구하기
print(mean_absolute_error(y_test, y_test_predicted))

In [ ]:
#MAE 지표의 품질을 높이기위해 랜덤 포레스트 회귀 분석 수행 과정 중 추가적인 정보 전달
#하이퍼 파라미터- 1. 생성할 트리의 개수인 n_estimators 2.트리 분할 기준 criterion
#트리 생성 개수를 기본값인 100에서 1000개로 증가시키고, 분할 기준은 기본값 MSE 지표에서
#MAE 지표로 변경할 것을 요구하기

In [ ]:
model = RandomForestRegressor(n_estimators=1000, criterion='mae',random_state=10)

In [ ]:
#기본적인 정보가 담긴 모델에 학습데이터 전달해 공부시키기
model.fit(x_train,y_train)

In [ ]:
#학습 완료된 모델에 x_train전달해 y_train 예측하기
y_train_predicted = model.predict(x_train)

In [ ]:
#학습 완료된 모델에 x_test 전달해 y_test 예측하기
y_test_predicted = model.predict(x_test)

In [ ]:
#지금까지 n_estimators와 criterion 하이퍼파라미터를 추가해 랜덤포레스트 회귀분석함
#MAE평가지표가 이전 대비 좋아졌는지 확인하기

#학습 데이터 결정계수 구하기
print(r2_score(y_train,y_train_predicted))

In [ ]:
#테스트 데이터 결정계수 구하기
print(r2_score(y_test,y_test_predicted))

In [ ]:
#테스트 데이터 MSE 지표 구하기
print(mean_squared_error(y_test,y_test_predicted))

In [ ]:
#테스트 데이터 MAE 지표 구하기
print(mean_absolute_error(y_test,y_test_predicted))

In [ ]:
#MAE 지표는 0에 가까울수록 좋은 성능이므로 전(1.8)보다 나아짐(1.7)