<a href="https://colab.research.google.com/github/sanha7/honey_ranian/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B01%EC%9C%A0%ED%98%95(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#문제 예시 1)
#boston 데이터셋의 MEDV 칼럼에 대해 가장 작은값부터 차례로 10행 출력해라
import pandas as pd
data= pd.read_csv('boston.csv')
print(data.sort_values(by='MEDV', ascending=True)['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

In [ ]:
#문제 예시 2)
#boston의 RM 칼럼에 대한 결측치를 평균값대치하고 산출된 표준편차 값과,
#결측치를 삭제하고 산출된 표준편차 값이 차이를 구하기
#(최종 출력하는 차이는양수임)
import pandas as pd
data =  pd.read_csv('boston.csv')
#print(data.isnull())-RM열에 결측치 확인
data_mean = data['RM'].copy() #rm 을 평균값 대치위해 카피해놈
rm_mean = data_mean.mean() #평균값 변수 생성
data_mean.fillna(rm_mean, inplace=True) #rm의 평균값을 대치하고 고정.(data_mean에 저장)
data_del = data['RM'].copy() #결측값 삭제를 위한카피
data_del.dropna(inplace=True) #결측값 삭제dropna 때리고 고정
print(abs(data_mean.std()-data_del.std()))

0.010595546094104513

In [ ]:
#문제 예시 3)
#boston 데이터셋의 ZN 칼럼 대상으로 ZN의 평균값에서 표준편차의1.5배 크거나 작은
#ZN값의합계를 구하시오
import pandas as pd
data= pd.reaad_csv('boston.csv')
zn_mean = data['ZN'].mean()
zn_std = data['ZN'].std()
zn_max = zn_mean + (1.5* zn_std)
zn_min = zn_mean - (1.5* zn_std)
zn_max2 = data[data['ZN']>zn_max]['ZN']
zn_min2 = data[data['ZN']<zn_min]['ZN']
print(zn_max2.sum()+zn_min2.sum())

3462.5

In [ ]:
#문제 예시 4)
#boston 데이터셋에서 CHAS 칼럼과 RAD 칼럼 제외해 칼럼별 IQR값 구하시오
#단, 출력구조는 2열이고 1열은 보스턴 데이터셋의 칼럼 이름이 표시돼야 함
import pandas as pd
data = pd.read_csv('boston.csv')
data_col12 = data.drop(columns =['CHAS','RAD'])
data_col12_desc = data_col12.describe()
data_col12_desc_T= data_col12_desc.iloc[[4,6]].T 
#4행, 6행 데이터 부르기, .T는 transpose함수=행열 뒤바꿔 세로축으로 변경시켜줌.
print(data_col12_desc_T['75%']-data_col12_desc_T['25%'])

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

In [ ]:
#문제예시 5)
#boston 데이터셋의 MEDV 컬럼 기준으로 30번째 큰값을 1~29번째 큰값에 적용한다
#그리고 MEDV 칼럼의 평균값, 중위값, 최솟값, 최댓값 순으로 한줄에 출력한다
import pandas as pd
data = pd.read_csv('boston.csv')
data_new = data.sort_values(by='MEDV', ascending=False)['MEDV'] #순위니까 내림차순
# 이 줄은 data_new = data['MEDV'].sort_values(ascending=False)도 가능
data_new.iloc[0:29] = 41.7
print(data_new.mean(), data_new.median(), data_new.min(), data_new.max())

22.1796442687747 21.2 5.0 41.7

In [ ]:
#문제 예시 1)
#boston 데이터셋의 MEDV 칼럼에 대해 가장 작은값부터 차례로 10행 출력해라

In [ ]:
#문제 예시 2)
#boston의 RM 칼럼에 대한 결측치를 평균값대치하고 산출된 표준편차 값과,
#결측치를 삭제하고 산출된 표준편차 값이 차이를 구하기
#(최종 출력하는 차이는양수임)

In [ ]:
#문제 예시 3)
#boston 데이터셋의 ZN 칼럼 대상으로 ZN의 평균값에서 표준편차의1.5배 크거나 작은
#ZN값의합계를 구하시오

3462.5

In [ ]:
#문제 예시 4)
#boston 데이터셋에서 CHAS 칼럼과 RAD 칼럼 제외해 칼럼별 IQR값 구하시오
#단, 출력구조는 2열이고 1열은 보스턴 데이터셋의 칼럼 이름이 표시돼야 함

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

In [ ]:
#문제예시 5)
#boston 데이터셋의 MEDV 컬럼 기준으로 30번째 큰값을 1~29번째 큰값에 적용한다
#그리고 MEDV 칼럼의 평균값, 중위값, 최솟값, 최댓값 순으로 한줄에 출력한다

22.1796442687747 21.2 5.0 41.7